/* FLEX */
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.space-evenly {
    justify-content: space-evenly;
}
.align-start {
    align-items: flex-start;
}
.flex-18 {
    flex: 0 1 18%;
}
.flex-22 {
    flex: 0 1 22%;
}
.flex-24 {
    flex: 0 1 24%;
}
.flex-32 {
    flex: 0 32%;
}
.flex-48 {
    flex: 0 1 48%;
}
.flex-50 {
    flex: 0 1 50%;
}
.flex-56 {
    flex: 0 1 56%;
}